@font-face {
  font-family: aston;
  src: url(/fonts/Aston\ Script.ttf);
}

@font-face {
  font-family: mont;
  src: url(/fonts/Montserrat-VariableFont_wght.ttf);
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --primary-color: #ff9fb2;
  --secondary-color: #e8e8e8;
  --text-dark: #0f172a;
  --text-light: #94a3b8;
  --white: #ffffff;
}

html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  box-sizing: border-box;
}

h1 {
  margin: 0;
}
#header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height: 12vh;
  background-color: white;
}

#header .logo img {
  width: 100px;
  margin-left: 20px;
}

#header .navbar {
  display: flex;
  list-style-type: none;
  margin-right: 20px;
  gap: 20px;
}

#header .navbar a {
  text-decoration: none;
  color: #ff9fb2;
  transition: 0.2s;
  padding: 4px 8px;
  font-weight: bold;
}

#header .navbar a:hover {
  color: #ff9fb2;
  scale: 1.03;
}

button.primary {
  background-color: #ff9fb2;
  border: 1px solid white;
  color: #fbdce2;
  padding: 1rem 1.5rem;
  transition: 0.5s;
  border-radius: 2rem;
}
button.primary:hover {
  color: #ff9fb2;
  background-color: #264653;
  scale: 1.05;
}
button.secondary {
  border: 1px solid rgb(250, 118, 47);
  color: #264653;
  padding: 1rem 1.5rem;
  transition: 0.5s;
}

button.secondary:hover {
  background-color: #264653;
  color: #ff9fb2;
}

#hero-banner {
  background: url(/images/hero.jpg);
  height: 88vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  gap: 0.4rem;
}

#hero-banner h1 {
  color: #ff9fb2;
  font-size: 1.8rem;
  font-family: "aston";
  z-index: 3;
}

#hero-banner h2 {
  color: #ff9fb2;
  font-size: 1.8rem;
  font-family: "aston";
  z-index: 3;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(78, 78, 78, 0.25);
  z-index: 1;
}

#hero-banner button {
  z-index: 2;
  font-size: large;
}

.slogan {
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.8rem 1.3rem;
  border-radius: 2rem;
  background-color: white;
}

.icon-container i {
  font-size: 20px;
  margin: 10px;
  color: #ff9fb2;
  transition: transform 0.3s, color 0.3s;
}

.icon-container i:hover {
  transform: scale(1.2);
}
#about {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

#about .heading {
  text-decoration: none;
  color: #ff9fb2;
  font-weight: bold;
  font-size: 45px;
  gap: 10px;
  font-family: "mont";
  margin: 1rem 0;
}

#about .content {
  padding: 1rem 2rem;
  border: 3px solid #fbdce2;
  margin: 1rem 0;
}
#about .content h3 {
  display: flex;
  color: #ff9fb2;
  font-weight: bold;
  font-size: 35px;
  justify-content: center;
  align-items: center;
  font-family: "mont";
}

.content .content-box {
  display: flex;
  margin: 1rem 0;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 5%;
}

.content .content-box .sideimage {
  border-radius: 10%;
  width: 30%;
  box-shadow: 1px 2px 100px 0.1px #fbdce2;
}

.content .content-box p {
  width: 60%;
  font-size: xx-large;
  text-align: justify;
  color: #264653;
  font-family: "mont";
}

.content .content-box p strong {
  color: #ff9fb2;
}

#about button {
  font-size: x-large;
}

/* Product Container */

.product {
  position: relative;
  overflow: hidden;
  padding: 20px;
}

.product-category {
  padding: 0 10vw;
  font-size: 30px;
  font-weight: bold;
  color: #ff7d7d;
  margin-bottom: 40px;
  text-transform: capitalize;
  font-family: "mont";
  text-align: center;
}
.product-container {
  padding: 0 10vw;
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
}

.product-container::-webkit-scrollbar {
  display: none;
}

.product-card {
  flex: 0 0 auto;
  width: 250px;
  height: 500px;
  margin-right: 40px;
}

.product-image {
  position: relative;
  width: 100%;
  height: 350px;
  overflow: hidden;
}

.product-thumb {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.discount-tag {
  position: absolute;
  background: #fff;
  padding: 5px;
  border-radius: 5px;
  color: #ff7d7d;
  right: 10px;
  top: 10px;
  text-transform: capitalize;
}

.card-btn {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  width: 90%;
  text-transform: capitalize;
  border: none;
  outline: none;
  background: #fff;
  border-radius: 5px;
  transition: 0.5s;
  cursor: pointer;
  opacity: 0;
}

.product-card:hover .card-btn {
  opacity: 1;
}

.card-btn:hover {
  background: #ff7d7d;
  color: #fff;
}

.product-info {
  width: 100%;
  height: 100px;
  padding-top: 10px;
}

.product-brand {
  text-transform: uppercase;
  font-family: "mont";
  color: #ff7d7d;
}

.product-short-description {
  width: 100%;
  height: 20px;
  line-height: 20px;
  overflow: hidden;
  opacity: 0.5;
  text-transform: capitalize;
  margin: 5px 0;
  font-family: "mont";
  color: #264653;
}

.price {
  font-weight: 700;
  font-size: 20px;
  font-family: "mont";
  color: #ff9fb2;
}

.actual-price {
  margin-left: 20px;
  opacity: 0.5;
  text-decoration: line-through;
  font-family: "mont";
  color: #ff9fb2;
}

.pre-btn,
.nxt-btn {
  border: none;
  width: 10vw;
  height: 100%;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #fbdce2 100%);
  cursor: pointer;
  z-index: 8;
}

.pre-btn {
  left: 0;
  transform: rotate(180deg);
}

.nxt-btn {
  right: 0;
}

.pre-btn img,
.nxt-btn img {
  opacity: 0.2;
}

.pre-btn:hover img,
.nxt-btn:hover img {
  opacity: 1;
}

.collection-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

.collection {
  position: relative;
}

.collection img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.collection p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  font-size: 50px;
  text-transform: capitalize;
}

.collection:nth-child(3) {
  grid-column: span 2;
  margin-bottom: 10px;
}

/* Footer */
footer {
  background-color: #fbdce2; /* Mimi Pink */
  color: #264653; /* Charcoal */
  padding: 40px 20px;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.footer-logo {
  font-size: 28px;
  font-weight: bold;
  color: #264653; /* Charcoal */
  margin-bottom: 15px;
}
.footer-logo img {
  width: 250px;
}
.footer-logo span {
  color: #ff9fb2; /* Salmon Pink */
}
.footer-column p {
  font-size: small;
  font-family: "aston";
  color: #264653;
}
.footer-column h3 {
  font-size: 18px;
  margin-bottom: 15px;
  color: #ff9fb2; /* Salmon Pink */
}

.footer-column ul {
  list-style: none;
  padding: 0;
}

.footer-column ul li {
  margin-bottom: 10px;
}

.footer-column ul li a {
  text-decoration: none;
  color: #264653; /* Charcoal */
  transition: color 0.3s ease;
}

.footer-column ul li a:hover {
  color: #ff9fb2; /* Salmon Pink */
}

.footer-socials {
  display: flex;
  gap: 15px;
  margin-top: 15px;
}

.footer-socials a {
  color: #264653; /* Charcoal */
  font-size: 24px;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-socials a:hover {
  color: #ff9fb2; /* Salmon Pink */
}

.footer-bottom {
  text-align: center;
  margin-top: 30px;
  font-size: 14px;
  color: #264653; /* Charcoal */
}

/*testimonials*/

.section__container {
  max-width: 1200px;
  margin: auto;
  padding: 2rem 1rem;
  text-align: center;
  scroll-margin-top: -10vh;
}

.section__container h2 {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--primary-color);
}

.section__container h1 {
  position: relative;
  margin-bottom: 2rem;
  font-size: 2.5rem;
  font-weight: 600;
  color: var(--text-dark);
}

.section__container h1::after {
  position: absolute;
  content: "";
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  height: 2px;
  width: 5rem;
  background-color: var(--primary-color);
}

.section__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.section__card {
  position: relative;
  isolation: isolate;
  overflow: hidden;
  padding: 5rem 2rem 2rem;
  background-color: var(--white);
  border-radius: 5px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}

.section__card::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  width: 75%;
  aspect-ratio: 1;
  border-radius: 100%;
  background-color: var(--primary-color);
  z-index: -1;
  transition: 0.5s;
}

.section__card span {
  position: absolute;
  top: 0;
  left: 0;
  padding: 1rem;
  font-size: 3rem;
  color: var(--white);
}

.section__card h4 {
  margin-top: 4rem;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--primary-color);
  transition: 0.3s;
}

.section__card p {
  margin-bottom: 2rem;
  color: var(--text-light);
  transition: 0.3s;
}

.section__card img {
  margin-bottom: 1rem;
  max-width: 100px;
  border-radius: 100%;
  border: 2px solid var(--primary-color);
  transition: 0.3s;
}

.section__card h5 {
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--primary-color);
  transition: 0.3s;
}

.section__card h6 {
  font-size: 1rem;
  font-weight: 400;
  color: var(--text-light);
  transition: 0.3s;
}

.section__card:hover::before {
  width: 400%;
}

.section__card:hover :is(h4, h5) {
  color: var(--white);
}

.section__card:hover :is(p, h6) {
  color: var(--secondary-color);
}

.section__card:hover img {
  border-color: var(--white);
}
